.main {
  position: relative;
  border-radius: 10px;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.236);
  border: 1px solid gray;
  font-size: 20px;
}


.container_contador {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  .buttons button {
    width: 100px;
    height: 35px;
    cursor: pointer;
    border: none;
    margin: 0 10px;
    border-radius: 5px;
    color: black;
    font-size: 20px;

    &.reset {
      background: rgba(250, 128, 114, 0.777);
    }

    &.decrease {
      background: rgba(255, 0, 0, 0.555);
    }

    &.increment {
      background: rgba(144, 238, 144, 0.777);
    }
  }
}
