.soon {
  height: 250px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #777171;
  background:rgba(255, 255, 255, 0.087); 
  backdrop-filter: shadow(13px);
  border: 1px solid gray;
  transition: all .5s;
  &:hover{
    backdrop-filter: blur(10px);
    transform: scale(1.02);
      }
}
